---

- name: Install httpd

  yum:

    name: httpd

    state: present



- name: Start and enable httpd

  service:

    name: httpd

    state: started

    enabled: yes



- name: Copy static website

  copy:

    src: index.html

    dest: /var/www/html/index.html

    mode: '0644'



- name: Allow HTTP service

  firewalld:

    service: http

    permanent: yes

    state: enabled

  notify: Reload firewalld


